DATABASE_URL=mongodb://localhost:27017/beta?authSource=admin&retryWrites=false&w=majority

# Converts to 5 minutes
OTP_EXPIRY_IN_MILLI_SECONDS=300000

FROM_MAIL=
SMTP_PASS=
SMTP_USER=
SMTP_PORT=
SMTP_HOST=

# 
CONACT_US_MAIL="support@linkdot.art"

# Lens
LENS_API_URI=https://api.lens.dev
