DATABASE_URL=mongodb://localhost:27017/beta?authSource=admin&retryWrites=false&w=majority

# Converts to 5 minutes
OTP_EXPIRY_IN_MILLI_SECONDS=300000

FROM_MAIL=
SMTP_PASS=
SMTP_USER=
SMTP_PORT=
SMTP_HOST=

# 
CONACT_US_MAIL="support@linkdot.art"

# Lens
LENS_API_URI=https://api.lens.dev

NEXT_PUBLIC_GIT_POAP_API_URI=https://public-api.gitpoap.io/v1

NEXT_PUBLIC_MINT_KUDOS_API_URI=https://api.mintkudos.xyz/v1