@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("../../public/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("../../public/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url("../../public/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("../../public/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");

  font-weight: normal;
}

body {
  background-color: black;
  color: white;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont,"Poppins-Regular", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}